asgiref==3.6.0
backports.zoneinfo==0.2.1;python_version<"3.9"
beautifulsoup4==4.12.0
bootstrap4==0.1.0
certifi==2022.12.7
charset-normalizer==3.1.0
crispy-bootstrap4==2022.1
deprecation==2.1.0
Django==4.1.7
django-bootstrap4==22.3
django-crispy-forms==2.0
django-intl-tel-input==0.3.1
docx2python==2.6.0
idna==3.4
lxml==4.9.2
packaging==23.0
pikepdf==7.1.2
Pillow==9.5.0
psycopg2==2.9.5
pypdf2==3.0.1
python-docx==0.8.11
python-dotenv==1.0.0
python-flutterwave==0.8.10
python-http-client==3.3.7
reportlab==3.6.12
requests==2.28.2
sendgrid==6.10.0
soupsieve==2.4
sqlparse==0.4.3
starkbank-ecdsa==2.2.0
typing==3.7.4
typing-extensions==4.5.0
urllib3==1.26.15
